.panel-heading {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
}

.panel-body {
  padding: 10px;
  background-color: #f5fffa;
}

.panel-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

body {
  font-family: sans-serif;
}

img {
  width: 30%;
  float: left;
  padding-right: 10px;
}

figcaption {
  display: block;
  color: red;
}

p {

}
